@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

:root {
  --primary-cyan: hsl(180, 66%, 49%);
  --primary-dark-violet: hsl(257, 27%, 26%);
  --secondary-red: hsl(0, 87%, 67%);
  --neutral-gray: hsl(0, 0%, 75%);
  --neutral-Grayish-violet: hsl(257, 7%, 63%);
  --neutral-very-dark-blue: hsl(255, 11%, 22%);
  --neutral-dark-violet: hsl(260, 8%, 14%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
}

body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
}

header {
  width: 100vw;
}

nav {
  margin: 2.4em 1.4em 0 1.4em;
  display: flex;
  justify-content: space-between;
  width: calc(100vw - 2.8em);
}

a.logo img {
  width: 33vw;
}

div.links,
div.login {
  display: none;
}

div.humberger div {
  background-color: var(--neutral-Grayish-violet);
  height: 0.2em;
  width: 1.4em;
  margin: 0.35em 0em;
  border-radius: 18%;
}

div.humberger-menu {
  margin: 1em 1.4em;
  background-color: var(--primary-dark-violet);
  border-radius: 0.6em;
  padding: 1.4em 0;
  z-index: 10;
  opacity: 0;
  display: none;
}

div.humberger-menu a {
  display: block;
  color: white;
  text-align: center;
  padding: 0.85em 0;
  font-weight: 700;
  font-size: 17px;
}

div.humberger-menu hr {
  margin: 1em 1.5em;
  border: none;
  background-color: rgb(84, 74, 109);
  height: 1px;
}

div.humberger-menu a.hum-sign-in {
  background-color: var(--primary-cyan);
  margin: 0.5em 1.5em 1.3em 1.5em;
  border-radius: 3em;
  padding: 0.5em 0;
}

section.banner {
  margin: 2em 0 0 0;
  display: flex;
  flex-direction: column-reverse;
  width: 100vw;
  overflow: hidden;
}

div.illustartion img {
  width: auto;
  height: 52vh;
  margin-left: 1.5em;
}

div.get-started {
  text-align: center;
}

div.get-started h1 {
  text-align: center;
  font-size: 2.6em;
  margin: 0.6em 0 0 0.1em;
  color: var(--neutral-very-dark-blue);
  line-height: 1.2em;
  letter-spacing: -1px;
}

div.get-started p {
  color: var(--neutral-Grayish-violet);
  margin: 0.7em 0.8em 0 1.1em;
  font-size: 1.15em;
  text-align: center;
  line-height: 1.6em;
}

div.get-started a {
  color: white;
  background-color: var(--primary-cyan);
  text-align: center;
  margin: 1.6em 4.8em;
  padding: 0.7em 0;
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  border-radius: 2em;
}
