section.boost {
  background: no-repeat url(/My-Project/images/bg-boost-mobile.svg);
  background-color: var(--primary-dark-violet);
  height: 18em;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section.boost h2 {
  color: white;
  padding-top: 3.5em;
  font-weight: 700;
  font-size: 1.7em;
}

section.boost a {
  color: white;
  background-color: var(--primary-cyan);
  padding: 0.7em 1.5em;
  font-size: 1.2em;
  margin: 1em 4.5em;
  display: block;
  border-radius: 2em;
}

@media (min-width: 376px) {
  section.boost {
    background: no-repeat url(/My-Project/images/bg-boost-desktop.svg);
    background-color: var(--primary-dark-violet);
    height: 15.7em;
  }

  section.boost h2 {
    padding-top: 1.5em;
    font-size: 2.3em;
  }

  section.boost a {
    font-weight: 700;
    margin: 1em 32.4em;
  }

  section.boost a:hover {
    background-color: var(--neutral-Grayish-violet);
  }
}
